@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




:root{
  @apply font-jakarta
  bg-gray_white
}

*{
  box-sizing: border-box;

}

body{
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.input {
  
  @layer 
}

.p {
 @apply font-normal text-base
}
.h2 {
  @apply font-bold sm:text-[38px] sm:leading-[47px] text-[26px] leading-[35px]
}
.h3 {
  @apply font-bold text-[24px] leading-[30px] 
}

.h4 {
@apply font-bold text-[24px] leading-[30px]  mb-2
}

.h5 {
  @apply font-bold text-[18px] leading-[20px]
 }

 .pp {  
  @apply  font-normal text-lg leading-7 text-gray_red
}

.tb{
  @apply font-bold text-4xl leading-[36px] sm:text-6xl sm:leading-[60px] text-black
}

.tm{
  @apply font-extrabold text-4xl leading-[36px] sm:text-4xl sm:leading-[47px] text-red-900
}

.st{
  @apply font-bold text-2xl leading-8 text-primary 
}


.shadow-btn{
  box-shadow:0 1px 3px 0 rgb(100 81 81 / 7%), 0 2px 6px 0 rgb(21 7 7 / 10%);
}

.current{
  font-weight: 700;
  background-color: #fee2e2;
}

html,
body,
#root{
  scroll-behavior: smooth;
}

li{
  @apply font-normal text-base text-gray_red rounded-lg p-2 flex w-max gap-2 hover:bg-secondary/10 hover:text-secondary cursor-pointer
}

.btn-secondary{
 @apply shadow-btn bg-white text-secondary px-4 py-3 rounded-lg font-bold leading-5 text-base
}